
.badminton--container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
}

/* .badminton--container > * {
  margin: 0 auto;
} */

.teams{
  display: flex;
  gap: 1rem;
  text-align: center;
} 

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 11.25rem;
  height: 25rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.team--home {
  background: #BDABFF;
  justify-content: space-evenly;
}
.team--away {
  background: #BDABFF;
  justify-content: space-evenly;
}

.team--score {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 5.9375rem;
  line-height: 6.0625rem;
  color: #000000;
}

.team--img {
  width: 80px;
  height: 80px;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}

.team--img-name{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.team--name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.375rem;
  text-align: center;
  color: #000000;
}

.team--score--buttons {
  display: flex;
  gap: 0.4rem;
}

.button--decrement {
  width: 2rem;
  height: 2rem;
  background-image: url('/src/assets/svg/button--decrement.svg');
  align-self: center;
  cursor: pointer;
}

.button--increment {
  width: 3.3125rem;
  height: 3.3125rem;
  background-image: url('/src/assets/svg/button--increment.svg');
  cursor: pointer;
}

.game--over {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #7EE68D;
  border-radius: 1rem;
  width: 23.875rem;
  height: 25rem;
  color: #000;
  text-align: center;
  margin: 0 auto;
}

.final--score {
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.8125rem;
  text-align: center;
  color: #000000;
}

.img--final {
  width: 15.625rem;
  height: 15.625rem;
}

.winner--img-name {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.winner--name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.button{
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4rem;
  width: 23.8125rem;
  height: 3.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.875rem;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}