/* * Global Styles */
* {
   -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  background: #1F2029;
  overflow: hidden;
  color: #fff
}

/* * Start Page */

.App {
  max-width: 25.875rem;
  max-height: 56rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  background: #1F2029;
  padding-top: 3rem;
}

.app-name {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #FFFFFF;
  padding-bottom: .55rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.start-page{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.back-button {
  background-image: url('/src/assets/png/back.png');
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  padding-left: 0.2rem;
}

.game--component {
  min-width: 23.875rem;
  min-height: 9.375rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4375rem;
  cursor: pointer;
}
.logo{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 6.375rem;
  min-height: 6.375rem;
}
.badminton-logo {
  background-image:  url('/src/assets/png/badminton.png');
}
.basketball-logo {
  background-image: url('/src/assets/png/basketball.png');
}
